* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: rgb(248, 248, 245);
}
p {
    font-size: 16px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin-top: 10px;

}

header {
    width: 100%;
    height: 50px;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.navbar-left h1 {
    font-size: 20px; /* Tamaño de fuente */
    color: #f8f3f3; /* Color del texto */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    font-family: Arial, sans-serif; /* Fuente */
}
/* Estilo para el enlace de cerrar sesión */



.navbar {
    background-color: rgba(154, 5, 5, 0.3);
    border-bottom: 1px solid #d10808;
    padding: 1px 0;
    font-family: g;
    font-size: 18px;
    overflow: hidden;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* This is important for the sticky positioning */
    width: 100%;
    z-index: 1000;
    h1{
        font-size: 20px;
        font-family: g;
        color: #f0e9e9;
        margin-left: 20px;
    
    }
}
.navbar-center {
    flex: 1; /* Ocupa el espacio restante */
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
  
    padding: 10px 20px;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right{
    display: flex;
    margin-left: 70%;

}

.navbar-toggle{
    margin-right: 20px;
text-decoration: none;
    color: #f3ecec;
    font-size: 18px;
    margin-left: 20%;
    font-family: g;
}

.navbar-brand {
    font-weight: bold;
    color: #f7f4f4;
    text-decoration: none;
    font-family: g;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 150%;
}

.navbar-link {
    margin-left: 20px;
    text-decoration: none;
    color: #f3f0f0;
    position: relative;
}

.navbar-cart {
    margin-left: 20px;
    text-decoration: none;
    color: #f4ecec;
    position: relative;
}
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    margin-left: 30px;
}

.dropdown-toggle::after {
    content: ' ';
    font-size: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(249, 244, 244);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    margin-left: 0;
}

.dropdown-menu a {
    color: rgb(8, 8, 8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.navbar-link:hover, .navbar-toggle:hover, .navbar-search:hover, .navbar-cart:hover {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.categorias {
    background-color: #f8f8f8;
    text-align: center;
}

.categorias h2 {
    padding: 0px 30px;
    font-size: 30px;
    color: #090909;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categorias-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.categoria {
    text-align: center;
    max-width: 300px;
    background-color: rgba(249, 244, 244, 0.916);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(241, 239, 239, 0.1);
    margin: 30px;
}

.categoria img {
    width: 180%;
    max-width: 300px;
    height: 330px;
    border-radius: 0px;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.categoria p {
    padding: 5%;
    font-weight: bold;
    font-size: 18px;
    color: #040404;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categoria a {
    display: inline-block;
    background-color: #dc2424;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.categoria a:hover {
    background-color: #f1eded;
}
.img-categoria:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(247, 245, 245, 0.927);
}
.categoria img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(202, 56, 56, 0.927);
}

footer {
    background-color: #900f06; /* Brown color */
    color: white;
    text-align: center;
}

.footer-top, .footer-bottom {
    display: flex;
    justify-content: center;
    padding: 18px 0;
}

.footer-top {
    background-color: #af0707; 
}

.footer-top a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-bottom {
    background-color:#f2eded;
    padding: 25px 0;
}

.footer-bottom a {
    color: rgb(238, 235, 235);
    text-decoration: none;
    margin: 0 20px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-top a:hover, .footer-bottom a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
}

.left {
    flex: 1;
    position: relative;
}

.left img {
    width: 100%;
    height: auto;
}

.left p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
}

.right {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    text-align: center;
    margin: 10px 0 0;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.product img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.left img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.categoria a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #edece5ef;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color  0.3s ease;
}
.categoria a:hover{
    background-color:#edece5ef;
}

@media screen and (max-width: 1024px) {
    .navbar-container {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-center,
    .navbar-left,
    .navbar-right {
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        margin-left: 200px;
    }

    .navbar-brand {
        font-size: 30px;
    }

  
    .navbar-toggle,
    .navbar-search {
        margin: 10px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }
    .navbar-brand {
        font-weight: bold;
        color: #0a0a0a;
        text-decoration: none;
        font-family: g;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 50%;
    }
}


@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-center,
    .navbar-left,
    .navbar-right {
        margin: 10px 0;
        justify-content: center;
        text-align: center;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar-right {
        margin-left: auto;
    }

    .navbar-toggle,
    .navbar-search {
        margin: 10px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: static;
        display: none;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }
    .navbar-brand {
        font-weight: bold;
        color: #0a0a0a;
        text-decoration: none;
        font-family: g;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 50%;
    }
}

.container-forms {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(249, 244, 244, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container-forms:hover {
    transform: translateY(-5px); /* Efecto hover para el contenedor */
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #080808;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #020202;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #c91e03;
    box-shadow: 0 0 8px rgba(92, 107, 192, 0.3);
    outline: none;
}

textarea {
    height: 120px;
    resize: none; /* Desactiva el redimensionado */
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #b51f05;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c91e07;
    transform: translateY(-3px); /* Efecto hover para el botón */
}

button:active {
    transform: translateY(0); /* Efecto click para el botón */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .container-forms {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        font-size: 14px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }
}
.container-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fef6f1;
    padding: 40px;
    border-radius: 8px;
}

.left {
    flex: 1;
}

.model-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.right {
    flex: 1;
    padding-left: 20px;
}

.right h1 {
    font-size: 2.5em;
    color: #222;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.right p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

